@page "/success/{SessionId?}"
@using QNE.Models.ViewModel

<PageContainer Title="Subscription Sucess">
    <Result Status="success"
            Title="Subscription to Starter plan successful!"
            SubTitle=@($"Session ID: {SessionId}")>

        <Extra>
            <Button OnClick="@ManageBilling">Manage Billing Information</Button>
            <Button><a href="/">Go back</a></Button>
        </Extra>
    </Result>
</PageContainer>

